#root {
  max-width: 1440px;
  padding-top: 60px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}

.loading {
  font-size: 24px;
  /* Размер текста */
  font-weight: bold;
  /* Жирный шрифт */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Высота на весь экран */
}