.castList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.castItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;
}

.actorImage {
    border-radius: 8px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.actorInfo {
    margin-top: 8px;
}